/* //////////////////////////////////////////////////
==================================================
GENERAL
==================================================
////////////////////////////////////////////////// */

.txt-blue {
  color: #0069ff;
}

.section-grey {
  background: #f3f5f9;
}

.section-white {
  background: #fff;
}

.section-blue {
  background-image: linear-gradient(#2228b8, #1f009c);
  color: #fff;
}

.p-s { padding: 64px 0; }
.p-l { padding: 120px 0; }
.p-ls { padding: 120px 0 64px; }

main h3 {
  font-size: 18px;
  margin: 8px 0 16px;
}

.slide-dots span {
  width: 12px;
  height: 12px;
  background: #fff;
  border: 2px solid #0069ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.slide-dots span:last-child {
  margin-right: 0;
}

.slide-dots span.active {
  background: #0069ff;
}

/* //////////////////////////////////////////////////
==================================================
TYPOGRAPHY
==================================================
////////////////////////////////////////////////// */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #596a88;
  padding-top: 60px;
}

h1,h2,h3,h4,h5,h6 { font-weight: 500;}

h1 { font-size: 3.052em; line-height: 1.1em; margin-bottom: 16px; }
h2 { font-size: 2.441em; line-height: 1.1em; margin-bottom: 16px; color: #031b4e; }
h3 { font-size: 1.953em; line-height: 1.1em; margin-bottom: 16px; color: #031b4e; }
h4 { font-size: 1.563em; line-height: 1.1em; margin-bottom: 16px; color: #031b4e; }
h5 { font-size: 1.25em; line-height: 1.1em; margin-bottom: 16px; color: #031b4e; }
h6 { font-size: 1em; line-height: 1.1em; margin-bottom: 16px; color: #031b4e; }

/* --------------------------------------------------
Links */

a, a:link, a:visited, main a:hover { color: #0069ff; text-decoration: none; }

main a:after {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 11px;
  vertical-align: middle;
  margin-left: 8px;
}

/* //////////////////////////////////////////////////
==================================================
BUTTONS
==================================================
////////////////////////////////////////////////// */

.lf_btn {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  display: inline-block;
}

.lf_btn-blue-outline {
  color: #0069ff!important;
  border: 1px solid #0069ff
}

/* //////////////////////////////////////////////////
==================================================
HEADER
==================================================
////////////////////////////////////////////////// */

/* --------------------------------------------------
Header Top */

.header-top {
  background: #fff;
  line-height: 60px;
  font-weight: 400;
}

/* --------------------------------------------------
Logo */

img.logo {
  max-width: 200px;
  vertical-align: -10px;
}

/* --------------------------------------------------
Navbar */

.header-top .nav-left {
  float: left;
}

.header-top .nav-right {
  float: right;
}

.menu-inline {
  margin: 0;
  display: inline-block;
}

.menu-inline li {
  list-style: none;
  display: inline;
}

.menu-inline li:not(:first-child) a {
  display: inline;
  margin-left: 16px;
}

.menu-inline li a:link,
.menu-inline li a:active,
.menu-inline li a:visited {
  color: #596a88;
}

.menu-inline li a:hover {
  color: #0069ff;
}

a.dropdown:after {
  content: '\f078';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 11px;
  vertical-align: top;
  }

  .ico-hamburger {
    position: absolute;
    top: 50%;
    right: 15px;
  }

  .icon-hamburger .fas {
    color: #0069ff;
  }

/* --------------------------------------------------
Jumbo */

.jumbo {
  background: #0069ff url("../img/bg-home.jpg");
  background-size: cover;
  background-position: center;
  padding: 48px 0;
}

.jumbo-text {
  color: #fff;
}

.jumbo h1 {
  font-size: 3.9em;
  font-weight: 700;
}

    @media screen and (max-width: 1024px) {
      .jumbo h1 {
        font-size: 3.1em;
      }
    }

    @media screen and (max-width: 768px) {
      .jumbo h1 {
        font-size: 2.3em;
      }
    }

.jumbo-text p {
  color: rgba(255,255,255,.8);
}

.jumbo-form {
  background: #fff;
  border-radius: 6px;
  padding: 16px;
}

.jumbo-form h3 {
  color: #000;
}

.jumbo-form form input {
  display: block;
  border: 1px solid #e5e8ed;
  padding: 8px;
  margin-bottom: 12px;
  width: 100%;
  border-radius: 4px;
}

.jumbo-form form input[type="submit"] {
  background: #0069ff;
  border: none;
  color: #fff;
  text-align: center;
}

.jumbo-form .btn-google {
  width: 100%;
  box-shadow: 1px 1px 1px #e5e8ed;
  text-align: center;
  position: relative;
}

.jumbo-form a.btn-google{
  color: #596a88;
}

.jumbo-form .btn-google:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/google-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.jumbo-form form p.note {
  margin-top: 12px;
  font-size: 0.8em;
}

.jumbo-form form .note a {
  text-decoration: underline;
}

/* //////////////////////////////////////////////////
==================================================
MAIN
==================================================
////////////////////////////////////////////////// */

/* --------------------------------------------------
Customers */

.customers h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 700;
  color: #596a88;
}

.cust-logos {
  line-height: 80px;
}

.cust-logos img {
  width: calc(16.67% - 14px);
  margin-right: 12px;
}

.cust-logos img:last-child {
  margin-right: 0;
}

  @media screen and (max-width: 768px) {
    .cust-logos img {
      width: calc(50% - 12px);
      margin-right: 12px;
    }

    .cust-logos img:nth-child(even) {
      margin-right: 0;
    }
  }

/* --------------------------------------------------
Customers */

.service {
  max-width: calc(50% - 24px);
  float: left;
  margin-right: 24px;
}

.service:nth-child(even) {
  margin-right: 0;
}

.services .container > p:first-of-type {
  margin-bottom: 64px!important;
}

.service {
  margin-bottom: 16px;
}

.service .ser-icon img {
  width: 41px;
}

  @media screen and (max-width: 768px) {
    .service {
      max-width: 100%;
      float: none;
      margin-right: 0;
    }
  }

.ser-nav ul {
  margin-left: 64px;
}

.ser-nav ul li {
  list-style: none;
}

.ser-nav ul li a {
  display: block;
  padding: 17px 10px 17px 30px;
  border-left: 2px solid #e5e8ed;
  color: #596a88;
}

.ser-nav a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  .ser-nav {
    margin-bottom: 32px;
  }

  .ser-nav ul {
    margin-left: 0;
  }
}

/* --------------------------------------------------
Developers */

.developers p:first-of-type {
  width: 75%;
  margin: 0 auto 64px;
}

.lf_slide {

}

.lf_slide img {
  width: 60%;
  margin-bottom: 24px;
}

.lf_slide:before {
  content: '\f053';
  font-family: 'Font Awesome 5 Free';
  font-weight: 800;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
  opacity: 0.5;
}

.lf_slide:after {
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 800;
  font-size: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 32px;
  color: #031b4e;
}

  @media screen and (max-width: 768px) {
    .slide-dots {
      margin-top: 64px;
    }
  }

/* --------------------------------------------------
Developers */

.features .row {
  margin-top: 48px;
}

/* --------------------------------------------------
Service Customers */

.service-customers h2 {
  color: #fff;
}

.table-wrapper {
  overflow-x: auto;
}

.service-customers table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.service-customers table tr > td {
  padding: 11px 10px 10px;
}

.service-customers table tr td:first-child {
  width: 15%;
  font-weight: 700;
}

.service-customers table tr td:nth-child(2) {
  width: 60%;
  font-weight: 300;
}

.service-customers table tr td:last-child {
  width: 25%;
  text-align: right;
  font-weight: 300;
}

.service-customers table tr:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.service-customers table a {
  color: #00d7d2;
}

.service-customers table a:hover {
  color: #0069ff;
}


/* //////////////////////////////////////////////////
==================================================
FOOTER
==================================================
////////////////////////////////////////////////// */
